server {
    listen 8001;
    server_name 10.0.1.100 192.168.1.100;
    client_max_body_size 5120M;

    location /static/ {
            alias /opt/SimpleCms/backend/static/;
    }

    location / {
            proxy_pass http://unix:/run/simplecms.sock;
            proxy_set_header Host $host:$server_port;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 8002;
    server_name 192.168.1.100 10.0.1.100;
    client_max_body_size 5120M;

    root /opt/SimpleCms/frontend/dist/;
    index index.html;

    location / {
            try_files $uri $uri/ /index.html;
    }
}

server {
    listen 8003;
    server_name 192.168.1.100 10.0.1.100;
    client_max_body_size 5120M;
    location / {
            proxy_pass http://192.168.1.101;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-Host $host:8003;
            proxy_set_header X-Real-IP $remote_addr:8003;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
    }
}
